In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
pd.set_option('max_columns', 50)
%matplotlib inline

In [53]:
%cd ~/Projects/hackathon/IceEdge/dataset/

/home/xypnox/Projects/hackathon/IceEdge/dataset

In [54]:
!head -n 5 merged.csv

In [55]:
from_csv = pd.read_csv('merged.csv')
from_csv.head()

,id,cnt_airlines,cnt_entertainment,cnt_auto_rentals,cnt_vehicles,cnt_business_serv,cnt_clothing_stores,cnt_contracted_serv,cnt_direct_marketing,cnt_govt_serv,cnt_hotel,cnt_misc,cnt_personal_serv_prov,cnt_repair_serv,cnt_retail_stores,cnt_service_prov,cnt_transport,cnt_utilities,cnt_wholesale_distributor,tot_tran_cnt,amt_airlines,amt_entertainment,amt_auto_rentals,amt_vehicles,amt_business_serv,amt_clothing_stores,amt_contracted_serv,amt_direct_marketing,amt_govt_serv,amt_hotel,amt_misc,amt_personal_serv_prov,amt_repair_serv,amt_retail_stores,amt_service_prov,amt_transport,amt_utilities,amt_wholesale_distributor,tot_tran_amt,payment,year,month
0,1,3,1,3,1,3,1,0,1,1,1,3,1,3,3,3,1,1,3,33,9.0,3,4,4,1,8,0,1,5,14,23,8,1,14,4,5,5,1,110.0,55.00,2018,12
1,2,2,3,1,2,2,1,2,2,3,2,1,2,2,1,1,2,1,3,33,511.0,198,249,224,70,479,13,70,313,811,1335,460,32,792,224,300,275,32,6388.0,3194.00,2018,12
2,3,1,1,2,3,3,1,1,1,1,1,2,1,3,2,1,1,2,1,28,30.0,12,15,13,4,28,1,4,18,48,78,27,2,46,13,18,16,2,375.0,375.00,2018,12
3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.00,2018,12
4,5,2,2,2,2,3,1,3,2,1,1,3,1,1,2,2,1,3,1,33,2324.0,901,1133,1017,320,2179,58,320,1423,3689,6071,2091,145,3602,1017,1365,1249,145,29049.0,1452.45,2018,12

In [61]:
from_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767442 entries, 0 to 767441
Data columns (total 42 columns):
id                           767442 non-null int64
cnt_airlines                 767442 non-null int64
cnt_entertainment            767442 non-null int64
cnt_auto_rentals             767442 non-null int64
cnt_vehicles                 767442 non-null int64
cnt_business_serv            767442 non-null int64
cnt_clothing_stores          767442 non-null int64
cnt_contracted_serv          767442 non-null int64
cnt_direct_marketing         767442 non-null int64
cnt_govt_serv                767442 non-null int64
cnt_hotel                    767442 non-null int64
cnt_misc                     767442 non-null int64
cnt_personal_serv_prov       767442 non-null int64
cnt_repair_serv              767442 non-null int64
cnt_retail_stores            767442 non-null int64
cnt_service_prov             767442 non-null int64
cnt_transport                767442 non-null int64
cnt_utilities                767442 non-null int64
cnt_wholesale_distributor    767442 non-null int64
tot_tran_cnt                 767442 non-null int64
amt_airlines                 767442 non-null float64
amt_entertainment            767442 non-null int64
amt_auto_rentals             767442 non-null int64
amt_vehicles                 767442 non-null int64
amt_business_serv            767442 non-null int64
amt_clothing_stores          767442 non-null int64
amt_contracted_serv          767442 non-null int64
amt_direct_marketing         767442 non-null int64
amt_govt_serv                767442 non-null int64
amt_hotel                    767442 non-null int64
amt_misc                     767442 non-null int64
amt_personal_serv_prov       767442 non-null int64
amt_repair_serv              767442 non-null int64
amt_retail_stores            767442 non-null int64
amt_service_prov             767442 non-null int64
amt_transport                767442 non-null int64
amt_utilities                767442 non-null int64
amt_wholesale_distributor    767442 non-null int64
tot_tran_amt                 767442 non-null float64
payment                      767442 non-null float64
year                         767442 non-null int64
month                        767442 non-null int64
dtypes: float64(3), int64(39)
memory usage: 245.9 MB

In [62]:
from_csv.describe()

,id,cnt_airlines,cnt_entertainment,cnt_auto_rentals,cnt_vehicles,cnt_business_serv,cnt_clothing_stores,cnt_contracted_serv,cnt_direct_marketing,cnt_govt_serv,cnt_hotel,cnt_misc,cnt_personal_serv_prov,cnt_repair_serv,cnt_retail_stores,cnt_service_prov,cnt_transport,cnt_utilities,cnt_wholesale_distributor,tot_tran_cnt,amt_airlines,amt_entertainment,amt_auto_rentals,amt_vehicles,amt_business_serv,amt_clothing_stores,amt_contracted_serv,amt_direct_marketing,amt_govt_serv,amt_hotel,amt_misc,amt_personal_serv_prov,amt_repair_serv,amt_retail_stores,amt_service_prov,amt_transport,amt_utilities,amt_wholesale_distributor,tot_tran_amt,payment,year,month
count,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,7.674420e+05,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,767442.000000,7.674420e+05,7.674420e+05,767442.000000,767442.000000
mean,20011.136934,1.939498,1.300063,1.940295,1.390181,1.940040,1.150882,1.986867,1.857959,1.215061,1.046780,3.400822,1.140068,1.940007,2.942383,1.940901,1.081304,1.215280,1.939526,31.367917,9.810800e+05,345.664415,434.843746,390.256409,122.715358,836.151322,216.667249,122.715358,546.317352,1415.813738,2329.898666,802.708765,55.844185,1382.372515,390.256409,524.022798,479.435560,55.844185,9.915315e+05,6.917795e+05,2017.499966,6.499313
std,11546.215071,0.870207,0.699561,0.873450,0.759823,0.872866,0.444952,1.846236,0.879689,0.626125,0.381692,1.296870,0.541385,0.873230,1.148317,0.873201,0.454202,0.625952,0.873338,5.316408,4.443163e+07,676.336269,850.874253,763.604181,239.992960,1636.293696,3290.818532,239.992960,1069.045876,2770.789641,4559.803220,1570.842396,109.082401,2705.338029,763.604181,1025.411464,938.142207,109.082401,4.443140e+07,3.503780e+07,0.500000,3.451171
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,2017.000000,1.000000
25%,10018.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,30.000000,4.400000e+01,17.000000,21.000000,19.000000,6.000000,40.000000,1.000000,6.000000,26.000000,68.000000,112.000000,39.000000,3.000000,66.000000,19.000000,25.000000,23.000000,3.000000,5.960000e+02,3.310000e+02,2017.000000,4.000000
50%,20019.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,3.000000,1.000000,2.000000,3.000000,2.000000,1.000000,1.000000,2.000000,32.000000,2.150000e+02,82.000000,103.000000,93.000000,29.000000,199.000000,6.000000,29.000000,130.000000,337.000000,554.000000,191.000000,13.000000,329.000000,93.000000,125.000000,114.000000,13.000000,2.826000e+03,1.612000e+03,2017.000000,7.000000
75%,30007.000000,3.000000,1.000000,3.000000,2.000000,3.000000,1.000000,3.000000,3.000000,1.000000,1.000000,4.000000,1.000000,3.000000,4.000000,3.000000,1.000000,1.000000,3.000000,34.000000,9.330000e+02,356.000000,448.000000,402.000000,127.000000,862.000000,26.000000,127.000000,563.000000,1460.000000,2403.000000,828.000000,58.000000,1425.750000,402.000000,540.000000,494.000000,58.000000,1.197000e+04,7.396000e+03,2018.000000,9.000000
max,40000.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,30.000000,3.000000,3.000000,3.000000,10.000000,3.000000,3.000000,8.000000,3.000000,3.000000,3.000000,3.000000,46.000000,8.814949e+09,14950.000000,18808.000000,16879.000000,5305.000000,36169.000000,333748.000000,5305.000000,23631.000000,61246.000000,100791.000000,34722.000000,2411.000000,59800.000000,16879.000000,22666.000000,20737.000000,2411.000000,8.814949e+09,7.260859e+09,2018.000000,12.000000

In [63]:
np.corrcoef(from_csv['cnt_entertainment'].to_numpy(), from_csv['cnt_auto_rentals'].to_numpy())

array([[1.        , 0.12867769],
       [0.12867769, 1.        ]])

In [64]:
# Correlation matrix between count of different sectors taken as a whole
cor_data = {}
cnt_heads = []
for heads in from_csv:
    if re.search("^cnt_", heads):
        cor_data[heads] = []
        cnt_heads.append(heads)
        for heads2 in from_csv:
            if re.search("^cnt_", heads2):
                cor_data[heads].append(np.corrcoef(from_csv[heads].to_numpy(), from_csv[heads2].to_numpy()))
                #print(heads, heads2)
            
print(len(cor_data))            
print(len(cor_data['cnt_entertainment']))

cor_cnt_df = pd.DataFrame(cor_data, index=cnt_heads)
cor_cnt_df.head()

18
18

,cnt_airlines,cnt_entertainment,cnt_auto_rentals,cnt_vehicles,cnt_business_serv,cnt_clothing_stores,cnt_contracted_serv,cnt_direct_marketing,cnt_govt_serv,cnt_hotel,cnt_misc,cnt_personal_serv_prov,cnt_repair_serv,cnt_retail_stores,cnt_service_prov,cnt_transport,cnt_utilities,cnt_wholesale_distributor
cnt_airlines,"[[0.9999999999999999, 0.9999999999999999], [0....","[[1.0, 0.12409854313927646], [0.12409854313927...","[[1.0, 0.14620277631977285], [0.14620277631977...","[[1.0, 0.12282549167073474], [0.12282549167073...","[[0.9999999999999999, 0.1451464189680818], [0....","[[1.0, 0.15904477142954443], [0.15904477142954...","[[1.0, -0.2012542174905035], [-0.2012542174905...","[[0.9999999999999999, 0.14290875990920207], [0...","[[1.0, 0.12899473333235936], [0.12899473333235...","[[1.0, 0.16687339089855036], [0.16687339089855...","[[1.0, 0.15720609993047316], [0.15720609993047...","[[0.9999999999999998, 0.13945777095270992], [0...","[[1.0, 0.1439841307460208], [0.143984130746020...","[[1.0, 0.1529080912132787], [0.152908091213278...","[[1.0, 0.14584514155319106], [0.14584514155319...","[[1.0, 0.15032775548875696], [0.15032775548875...","[[1.0, 0.12872220194685374], [0.12872220194685...","[[1.0, 0.14604211401899314], [0.14604211401899..."
cnt_entertainment,"[[0.9999999999999999, 0.12409854313927646], [0...","[[1.0, 1.0], [1.0, 1.0]]","[[1.0, 0.12867768658763432], [0.12867768658763...","[[1.0, 0.45699299863535564], [0.45699299863535...","[[0.9999999999999999, 0.1270563128942959], [0....","[[1.0, -0.005572631597326138], [-0.00557263159...","[[1.0, -0.1648688802207144], [-0.1648688802207...","[[0.9999999999999999, 0.1671027217060729], [0....","[[1.0, 0.47904249220507833], [0.47904249220507...","[[1.0, 0.2923119419571051], [0.292311941957105...","[[1.0, -0.2553452305952772], [-0.2553452305952...","[[0.9999999999999998, 0.41536966500261363], [0...","[[1.0, 0.12725396191657426], [0.12725396191657...","[[1.0, -0.31684383035911395], [-0.316843830359...","[[1.0, 0.1266867848076387], [0.126686784807638...","[[1.0, 0.35715339277574826], [0.35715339277574...","[[1.0, 0.4818637473756757], [0.481863747375675...","[[1.0, 0.12848747155113172], [0.12848747155113..."
cnt_auto_rentals,"[[0.9999999999999999, 0.14620277631977285], [0...","[[1.0, 0.12867768658763434], [0.12867768658763...","[[1.0, 1.0], [1.0, 1.0]]","[[1.0, 0.12635750398148282], [0.12635750398148...","[[0.9999999999999999, 0.15137164868855893], [0...","[[1.0, 0.17735938517885377], [0.17735938517885...","[[1.0, -0.19735563708980905], [-0.197355637089...","[[0.9999999999999999, 0.14393992577275475], [0...","[[1.0, 0.13184524101612152], [0.13184524101612...","[[1.0, 0.18674333162598006], [0.18674333162598...","[[1.0, 0.17955494528236246], [0.17955494528236...","[[0.9999999999999998, 0.14371339394152502], [0...","[[1.0, 0.15291015372001932], [0.15291015372001...","[[1.0, 0.1747014665985504], [0.174701466598550...","[[1.0, 0.15375393523178205], [0.15375393523178...","[[1.0, 0.1614697526296844], [0.161469752629684...","[[1.0, 0.13242753866868548], [0.13242753866868...","[[1.0, 0.15159470714612625], [0.15159470714612..."
cnt_vehicles,"[[0.9999999999999999, 0.12282549167073475], [0...","[[1.0, 0.45699299863535564], [0.45699299863535...","[[1.0, 0.12635750398148282], [0.12635750398148...","[[1.0, 1.0], [1.0, 1.0]]","[[0.9999999999999999, 0.12485362364091371], [0...","[[1.0, -0.04547590673610398], [-0.045475906736...","[[1.0, -0.16246643559994123], [-0.162466435599...","[[0.9999999999999999, 0.1728248305200308], [0....","[[1.0, 0.4017220298178575], [0.401722029817857...","[[1.0, 0.25303346533720805], [0.25303346533720...","[[1.0, -0.2717847579036024], [-0.2717847579036...","[[0.9999999999999998, 0.35230506660280125], [0...","[[1.0, 0.1259185185280558], [0.125918518528055...","[[1.0, -0.28564133794438934], [-0.285641337944...","[[1.0, 0.1245269372654026], [0.124526937265402...","[[1.0, 0.3071400615265246], [0.307140061526524...","[[1.0, 0.40085900037674055], [0.40085900037674...","[[1.0, 0.12549056086849064], [0.12549056086849..."
cnt_business_serv,"[[0.9999999999999999, 0.1451464189680818], [0....","[[1.0, 0.1270563128942959], [0.127056312894295...","[[1.0, 0.15137164868855896], [0.15137164868855...","[[1.0, 0.12485362364091371], [0.12485362364091...","[[0.9999999999999999, 0.9999999999999999], [0....","[[1.0, 0.1756147025285351], [0.175614702528535...","[[1.0, -0.19978220353282544], [-0.199782203532...","[[0.9999999999999999, 0.147615543081078], [0.1...","[[1.0, 0.13207457297089895], [0.13207457297089...","[[1.0, 0.1861142246873676], [0.186114224687367...","[[1.0, 0.1773644456633689], [0.177364445663368...","[[0.9999999999999998, 0.1440838762720212], [0....","[[1.0, 0.14998538006527357], [0.14998538006527...","[[1.0, 0.17362598133249366], [0.17362598133249...","[[1.0, 0.15363366380456994], [0.15363366380456...","[[1.0, 0.16313557080200183], [0.16313557080200...","[[1.0, 0.1325262334735027], [0.132526233473502...","[[1.0, 0.15245029982770625], [0.15245029982770..."

In [65]:
# Correlation matrix between count of different sectors taken as a whole
cor_amt_data = {}
amt_heads = []
for heads in from_csv:
    if re.search("^amt_", heads):
        cor_amt_data[heads] = []
        amt_heads.append(heads)
        for heads2 in from_csv:
            if re.search("^amt_", heads2):
                cor_amt_data[heads].append(np.corrcoef(from_csv[heads].to_numpy(), from_csv[heads2].to_numpy())[1][0])
                #print(heads, heads2)
            
print(len(cor_amt_data))            
print(len(cor_amt_data['amt_entertainment']))

cor_amt_df = pd.DataFrame(cor_amt_data, index=amt_heads)
cor_amt_df.head()

18
18

,amt_airlines,amt_entertainment,amt_auto_rentals,amt_vehicles,amt_business_serv,amt_clothing_stores,amt_contracted_serv,amt_direct_marketing,amt_govt_serv,amt_hotel,amt_misc,amt_personal_serv_prov,amt_repair_serv,amt_retail_stores,amt_service_prov,amt_transport,amt_utilities,amt_wholesale_distributor
amt_airlines,1.000000,-0.011236,-0.011235,-0.011235,-0.011241,-0.011234,-0.001453,-0.011241,-0.011234,-0.011233,-0.011233,-0.011234,-0.011255,-0.011233,-0.011235,-0.011235,-0.011235,-0.011255
amt_entertainment,-0.011236,1.000000,1.000000,1.000000,0.999999,1.000000,-0.016912,0.999999,1.000000,1.000000,1.000000,1.000000,0.999997,1.000000,1.000000,1.000000,1.000000,0.999997
amt_auto_rentals,-0.011235,1.000000,1.000000,1.000000,0.999999,1.000000,-0.016911,0.999999,1.000000,1.000000,1.000000,1.000000,0.999997,1.000000,1.000000,1.000000,1.000000,0.999997
amt_vehicles,-0.011235,1.000000,1.000000,1.000000,0.999999,1.000000,-0.016911,0.999999,1.000000,1.000000,1.000000,1.000000,0.999997,1.000000,1.000000,1.000000,1.000000,0.999997
amt_business_serv,-0.011241,0.999999,0.999999,0.999999,1.000000,0.999999,-0.016927,1.000000,0.999999,0.999999,0.999999,0.999999,0.999996,0.999999,0.999999,0.999999,0.999999,0.999996